/* Reseteo de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilo para el contenedor principal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #3825de, #6c72ef);
    overflow: hidden;
}

/* Contenedor del formulario */
.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Estilo del título */
.login-container h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px; /* Tamaño de fuente aumentado */
    text-transform: uppercase;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo para las etiquetas y los campos de entrada */
label {
    color: #fff;
    font-size: 25px; /* Tamaño de fuente aumentado */
    text-align: left;
}

input[type="text"], input[type="password"] {
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 16px; /* Tamaño de fuente aumentado */
}

/* Efecto de foco para los campos de entrada */
input[type="text"]:focus, input[type="password"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Estilo del botón */
button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #ff5733; /* Color de fondo más llamativo */
    color: #fff;
    font-weight: bold;
    font-size: 18px; /* Tamaño de fuente aumentado */
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background: #ff6f61; /* Color de fondo al pasar el cursor */
    transform: scale(1.05);
}

/* Estilo para mensajes de error */
.error-message {
    color: #ffffff; /* Color rojo más claro */
    background-color: rgb(239, 29, 29); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px; /* Tamaño de fuente aumentado */
    font-weight: bold;
    text-align: left;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de sacudida */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

input.shake {
    animation: shake 0.5s;
}
