body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Ajuste del tamaño de las imágenes */
img {
    max-width: 150px; /* Tamaño más grande */
    height: auto; /* Mantener la proporción */
    border-radius: 4px;
}

/* Asegurar que el contenedor permita que la imagen crezca */
td img {
    width: 75%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    max-width: 150px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantener la proporción */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.back-button {
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 40px; /* Alinea el botón a 10px del borde superior */
    left: 10px; /* Alinea el botón a 10px del borde izquierdo */
    margin-left: 170px; 
}

/* Estilos para la barra de búsqueda */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-form .button {
    padding: 10px 20px;
    margin-top: 0;
}

/* Añadir margen entre los botones de búsqueda y filtros adicionales */
.search-form .button + .button {
    margin-left: 20px; /* Añadir un margen de 10px entre los botones */
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content form:hover {
    background-color: #f1f1f1;
}

.button.delete-button {
    background-color: #dc3545;
    border: none;
    color: white;
    text-align: left;
    padding: 12px 16px;
    width: 100%;
    cursor: pointer;
}

.button.delete-button:hover {
    background-color: #c82333;
}
