body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para posicionar el botón en la esquina superior izquierda */
.dashboard-button {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 310px;
    margin-top: 120px;  /* Asegura que el margen superior no se aplique aquí */
}
