/* Estilos básicos para see_clientes.html */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-form .button {
    margin-left: 10px;
}

.filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.filter-form div {
    display: flex;
    flex-direction: column;
}

.filter-form label {
    margin-bottom: 5px;
}

.filter-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#additionalFilters {
    margin-top: 20px;
}

/* Estilos para las opciones de ordenamiento */
#order-options {
    display: none; /* Oculta las opciones por defecto */
    position: absolute;
    top: 4%; /* Alinea el menú justo debajo del botón */
    left: 95%; /* Alinea el menú a la derecha del botón */
    transform: translateX(30px); /* Ajusta la separación del botón */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 10px; /* Aumenta el padding del menú */
    min-width: 160px; /* Ajusta el ancho mínimo del menú */
}

#order-options a {
    display: block;
    padding: 12px 16px; /* Ajusta el padding de los enlaces */
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 8px; /* Añade margen inferior entre los enlaces */
}

#order-options a:last-child {
    margin-bottom: 0; /* Elimina el margen inferior del último enlace */
}

#order-options a:hover {
    background-color: #007bff;
    color: white;
}

#order-options .fa-arrow-up, #order-options .fa-arrow-down {
    margin-left: 8px;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown-content form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content form:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.delete-button {
    background-color: #FF4136;
    color: white;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #D9362C;
}

.flash-messages {
    margin-bottom: 20px;
}

.flash {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Agrega estos estilos al final del archivo */
.results-message {
    font-size: 1.2em;
    font-weight: bold;
    color: #333; /* Color del texto */
    margin: 20px 0; /* Espacio arriba y abajo del mensaje */
    padding: 10px;
    border: 1px solid #ddd; /* Borde alrededor del mensaje */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo del mensaje */
    text-align: center; /* Centrar el texto */
}
