<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_add_cliente.css') }}">
</head>
<body>
    <a href="{{ url_for('dashboard') }}" class="button dashboard-button">Volver al Menú</a>
    <div class="container">
        <h1>Agregar Cliente</h1>

        <!-- Mostrar el mensaje de error si existe -->
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <!-- Mostrar el mensaje de confirmación si existe -->
        {% if message %}
            <div class="success">{{ message }}</div>
        {% endif %}

        <form action="{{ url_for('clientes.add_cliente') }}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ form_data['nombre'] if 'nombre' in form_data else '' }}" required>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="{{ form_data['apellido'] if 'apellido' in form_data else '' }}"required>

            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" value="{{ form_data['domicilio'] if 'domicilio' in form_data else '' }}" required>

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" value="{{ form_data['telefono'] if 'telefono' in form_data else '' }}" required>

            <button type="submit" class="button">Agregar Cliente</button>
            <a href="{{ url_for('clientes.see_clientes') }}" class="button">Ver Clientes</a>
        </form>
    </div>
</body>
</html>
