<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_add_product.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agregar Producto</h1>
        <form action="{{ url_for('add_product') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" required>
            </div>
            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" name="modelo" required>
            </div>
            <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" id="color" name="color" required>
            </div>
            <div class="form-group">
                <label for="existencias">Existencias:</label>
                <input type="number" id="existencias" name="existencias" required>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" step="0.01" id="precio" name="precio" required>
            </div>
            <div class="form-group">
                <label for="talla">Talla:</label>
                <input type="number" id="talla" name="talla" required>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen" required>
            </div>
            <div class="form-buttons">
                <button type="submit">Agregar Producto</button>
                <a href="{{ url_for('see_products') }}" class="button">Ver Productos</a>
            </div>
        </form>
        <a href="{{ url_for('dashboard') }}" class="button">Volver al Dashboard</a>
    </div>
</body>
</html>
