<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_add_product.css') }}">
</head>
<body>
    <a href="{{ url_for('dashboard') }}" class="button dashboard-button">Volver al Menu</a>
    <div class="container">
        <h1>Agregar Producto</h1>
        
        <!-- Mostrar el mensaje de confirmación si existe -->
        {% if message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}

        <!-- Mostrar el mensaje de error si existe -->
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <form action="{{ url_for('add_product') }}" method="post" enctype="multipart/form-data">
            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" value="{{ form_data['marca'] if 'marca' in form_data else '' }}" required>

            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" value="{{ form_data['modelo'] if 'modelo' in form_data else '' }}" required>

            <label for="color">Color:</label>
            <input type="text" id="color" name="color" value="{{ form_data['color'] if 'color' in form_data else '' }}" required>

            <label for="existencias">Existencias:</label>
            <input type="number" id="existencias" name="existencias" value="{{ form_data['existencias'] if 'existencias' in form_data else '' }}" required>

            <label for="precio">Precio:</label>
            <input type="number" step="0.01" id="precio" name="precio" value="{{ form_data['precio'] if 'precio' in form_data else '' }}" required>

            <label for="talla">Talla:</label>
            <input type="number" step="0.1" id="talla" name="talla" value="{{ form_data['talla'] if 'talla' in form_data else '' }}" required>

            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
                <option value="Deportivo" {% if form_data['tipo'] == 'Deportivo' %}selected{% endif %}>Deportivo</option>
                <option value="Piso" {% if form_data['tipo'] == 'Piso' %}selected{% endif %}>Piso</option>
            </select>

            <label for="imagen">Imagen:</label>
            <input type="file" id="imagen" name="imagen">

            <button type="submit" class="button">Agregar Producto</button>
            <a href="{{ url_for('see_products') }}" class="button">Ver Productos</a>
        </form>
    </div>
</body>
</html>
