<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Pagos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_see_abonos.css') }}">
</head>
<body>
    <a href="{{ url_for('abonos.see_abonos') }}" class="button back-button">Volver a Abonos</a>
    
    <div class="container">
        <h1>Historial de Pagos de {{ cliente.Nombre }} {{ cliente.Apellido }}</h1>
        <h3>Saldo a pagar: {{ saldo_total.SaldoTotal if saldo_total else 0 }}</h3>

        <!-- Mostrar mensaje si no hay historial -->
        {% if historial_abonos %}
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Monto Abonado</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Color</th>  
                    <th>Precio</th> 
                    <th>Cantidad</th>                 
                </tr>
            </thead>
            <tbody>
                {% for abono in historial_abonos %}
                <tr>
                    <td>{{ abono.Fecha }}</td>
                    <td>{{ abono.Monto }}</td>                  
                    <td>{{ abono.marca }}</td>
                    <td>{{ abono.modelo }}</td>
                    <td>{{ abono.color }}</td>
                    <td>{{ abono.precio }}</td>
                    <td>{{ abono.Cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No se encontraron abonos para este cliente.</p>
        {% endif %}
    </div>
</body>
</html>
