<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_see_ventas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/filtro.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu_toggle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order_options.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggle_visibility.js') }}"></script>
</head>
<body>
    <a href="{{ url_for('dashboard') }}" class="button dashboard-button">Volver al menu</a>
    <div class="container">
        <h1>Ventas Realizadas</h1>
         <!-- Mensaje de número de resultados encontrados -->
         <p class="results-message">{{ ventas_count }} resultado{% if ventas_count != 1 %}s{% endif %} encontrado{% if ventas_count != 1 %}s{% endif %}</p>


        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          <div class="flash-messages">
              {% for category, message in messages %}
                  <div class="flash {{ category }}">{{ message }}</div>
              {% endfor %}
          </div>
          {% endif %}
        {% endwith %}
        <!-- Formulario de búsqueda y filtros -->
        <form action="{{ url_for('ventas.see_ventas') }}" method="post" class="search-form">
            <input type="text" name="search" placeholder="Buscar ventas..." value="{{ search_query }}">
            <button type="submit" class="button">Buscar</button>
            <button type="button" class="button" onclick="toggleFilters()">Filtros Adicionales</button>
            <button type="button" class="button" onclick="showOrderOptions()">Ordenar</button>
        </form>
        <div class="toggle-visibility">
            <button id="toggleVisibilityBtn" onclick="toggleVisibility()">
                <i id="visibilityIcon" class="fas fa-eye-slash"></i> <!-- Ojo cerrado -->
            </button>
        </div> 
        <div id="additionalFilters" style="display: none;">
            <form action="{{ url_for('ventas.see_ventas') }}" method="post" class="filter-form">
                <div>
                    <label for="cliente">Cliente:</label>
                    <input type="text" id="cliente" name="cliente" value="{{ filters['cliente'] }}">
                </div>
                <div>
                    <label for="producto">Producto:</label>
                    <select id="producto" name="producto">
                        <option value="" disabled selected></option>
                        <option value="Nike" {% if filters['marca'] == 'Nike' %}selected{% endif %}>Nike</option>
                        <option value="Adidas" {% if filters['marca'] == 'Adidas' %}selected{% endif %}>Adidas</option>
                        <option value="Puma" {% if filters['marca'] == 'Puma' %}selected{% endif %}>Puma</option>
                        <option value="Under Armour" {% if filters['marca'] == 'Under Armour' %}selected{% endif %}>Under Armour</option>
                        <option value="Asics" {% if filters['marca'] == 'Asics' %}selected{% endif %}>Asics</option>
                        <option value="Lacoste" {% if filters['marca'] == 'Lacoste' %}selected{% endif %}>Lacoste</option>
                        <option value="Tommy Hilfiger" {% if filters['marca'] == 'Tommy Hilfiger' %}selected{% endif %}>Tommy Hilfiger</option>
                        <option value="Reebok" {% if filters['marca'] == 'Reebok' %}selected{% endif %}>Reebok</option>
                        <option value="Hoka" {% if filters['marca'] == 'Hoka' %}selected{% endif %}>Hoka</option>
                        <option value="Caterpillar" {% if filters['marca'] == 'Caterpillar' %}selected{% endif %}>Caterpillar</option>
                    </select>
                </div>
                <div>
                    <label for="color">Color:</label>
                    <input type="text" id="color" name="color" value="{{ filters['color'] }}">
                </div>
                <div>
                    <label for="talla">Seleccione una Talla:</label>
                    <select id="talla" name="talla">
                        <option value="" disabled selected></option>
                        {% for i in range(11, 34) %}
                            <option value="{{ i }}" {% if filters['talla'] == i %}selected{% endif %}>{{ i }} cm</option>
                            <option value="{{ i + 0.5 }}" {% if filters['talla'] == i + 0.5 %}selected{% endif %}>{{ i + 0.5 }} cm</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="tipo">Tipo:</label>
                    <select id="tipo" name="tipo">
                        <option value="" disabled selected></option>
                        <option value="Deportivo" {% if filters['tipo'] == 'Deportivo' %}selected{% endif %}>Deportivo</option>
                        <option value="Piso" {% if filters['tipo'] == 'Piso' %}selected{% endif %}>Piso</option>
                    </select>
                </div>
                <div>
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" value="{{ filters['fecha'] }}">
                </div>
                <div>
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" value="{{ filters['cantidad'] }}">
                </div>
                <div>
                    <label for="total">Total:</label>
                    <input type="number" id="total" name="total" value="{{ filters['total'] }}">
                </div>
                <button type="submit" class="button">Aplicar Filtros</button>
            </form>
        </div>
        
        <div id="order-options" style="display:none;">
            <a href="{{ url_for('ventas.see_ventas', order='precio_asc', search_query=search_query, cliente=filters['cliente'], producto=filters['producto'], color=filters['color'], talla=filters['talla'], tipo=filters['tipo'], fecha=filters['fecha'], cantidad=filters['cantidad'], total=filters['total']) }}" class="button">Precio más bajo <i class="fas fa-arrow-down"></i></a>
            <a href="{{ url_for('ventas.see_ventas', order='precio_desc', search_query=search_query, cliente=filters['cliente'], producto=filters['producto'], color=filters['color'], talla=filters['talla'], tipo=filters['tipo'], fecha=filters['fecha'], cantidad=filters['cantidad'], total=filters['total']) }}" class="button">Precio más alto <i class="fas fa-arrow-up"></i></a>
            <a href="{{ url_for('ventas.see_ventas', order='fecha_asc', search_query=search_query, cliente=filters['cliente'], producto=filters['producto'], color=filters['color'], talla=filters['talla'], tipo=filters['tipo'], fecha=filters['fecha'], cantidad=filters['cantidad'], total=filters['total']) }}" class="button">Fecha más antigua <i class="fas fa-arrow-down"></i></a>
            <a href="{{ url_for('ventas.see_ventas', order='fecha_desc', search_query=search_query, cliente=filters['cliente'], producto=filters['producto'], color=filters['color'], talla=filters['talla'], tipo=filters['tipo'], fecha=filters['fecha'], cantidad=filters['cantidad'], total=filters['total']) }}" class="button">Fecha más reciente <i class="fas fa-arrow-up"></i></a>
        </div>

        <!-- Tabla de ventas -->
      <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Color</th>
                    <th>Talla</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                    <th>Forma de Pago</th>
                    <th>Fecha</th>
                    <th>Foto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ venta.cliente_nombre }} {{ venta.cliente_apellido }}</td>
                    <td>{{ venta.marca }} {{ venta.modelo }}</td>
                    <td>{{ venta.color }}</td>
                    <td>{{ venta.talla }}</td>
                    <td>{{ venta.precio }}</td>
                    <td>{{ venta.tipo }}</td>
                    <td>{{ venta.Cantidad }}</td>
                    <td>{{ venta.Total }}</td>
                    <td>{{ venta.MetodoPago }}</td>
                    <td>{{ venta.Fecha }}</td>
                    <td><img src="{{ url_for('static', filename='images/' ~ venta.imagen_nombre) }}" alt="Imagen del producto"></td>
                    <td>
                        <div class="dropdown">
                          <button class="dropbtn" onclick="toggleMenu('menu-{{ venta.VentaID }}')"><i class="fas fa-ellipsis-v"></i></button>
                          <div id="menu-{{ venta.VentaID }}" class="dropdown-content">
                              <form action="{{ url_for('ventas.delete_venta', venta_id=venta.VentaID) }}" method="post" onsubmit="return confirm('¿Seguro que deseas eliminar esta venta?');">
                                <button type="submit" class="delete-button">Eliminar</button>
                            </form>
                         </div>
                       </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</body>
</html>
