<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_see_products.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/filtro.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu_toggle.js') }}"></script> <!-- Referencia al nuevo archivo JS -->
</head>
<body>
    <a href="{{ url_for('add_product') }}" class="button back-button">Volver</a>
    <div class="container">
        <h1>Productos Disponibles</h1>
        <form action="{{ url_for('see_products') }}" method="post" class="search-form">
            <input type="text" name="search" placeholder="Buscar productos..." value="{{ search_query }}">
            <button type="submit" class="button">Buscar</button>
            <button type="button" class="button" onclick="toggleFilters()">Filtros Adicionales</button>
        </form>
        <div id="additionalFilters" style="display: none;">
            <form action="{{ url_for('see_products') }}" method="post" class="filter-form">
                <div>
                    <label for="marca">Marca:</label>
                    <input type="text" id="marca" name="marca">
                </div>
                <div>
                    <label for="modelo">Modelo:</label>
                    <input type="text" id="modelo" name="modelo">
                </div>
                <div>
                    <label for="color">Color:</label>
                    <input type="text" id="color" name="color">
                </div>
                <div>
                    <label for="talla">Talla:</label>
                    <input type="number" step="0.1" id="talla" name="talla">
                </div>
                <div>
                    <label for="tipo">Tipo:</label>
                    <select id="tipo" name="tipo" required>
                        <option value="Deportivo">Deportivo</option>
                        <option value="Piso">Piso</option>
                    </select>
                </div>
                <button type="submit" class="button">Aplicar Filtros</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Existencias</th>
                    <th>Precio</th>
                    <th>Talla</th>
                    <th>Tipo</th>
                    <th>Imagen</th>
                    <th></th> <!-- Nueva columna para el menú desplegable -->
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.modelo }}</td>
                    <td>{{ producto.color }}</td>
                    <td>{{ producto.existencias }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.talla }}</td>
                    <td>{{ producto.tipo }}</td>
                    <td><img src="{{ url_for('static', filename='images/' ~ producto.imagen_nombre) }}" alt="{{ producto.modelo }}" width="50"></td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn" onclick="toggleMenu('menu-{{ producto.ProductoID }}')"><i class="fas fa-ellipsis-v"></i></button>
                            <div id="menu-{{ producto.ProductoID }}" class="dropdown-content">
                                <a href="{{ url_for('edit_product', id=producto.ProductoID) }}">Editar</a>
                                <form action="{{ url_for('delete_product', id=producto.ProductoID) }}" method="post" onsubmit="return confirm('¿Seguro que deseas eliminar este producto?');">
                                    <button type="submit" class="delete-button">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
