<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Abonos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_see_abonos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/filtro.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu_dabonos.js') }}"></script>
</head>
<body>
    <a href="{{ url_for('dashboard') }}" class="button dashboard-button">Volver al menú</a>
    <div class="container">
        <h1>Cuentas con Abonos</h1>

        <!-- Mensaje de número de resultados encontrados -->
        <p class="results-message">{{ abonos_count }} resultado{% if abonos_count != 1 %}s{% endif %} encontrado{% if abonos_count != 1 %}s{% endif %}</p>

        <!-- Formulario de búsqueda de abonos -->
        <form action="{{ url_for('abonos.see_abonos') }}" method="post" class="search-form">
            <input type="text" name="search" placeholder="Buscar cliente..." value="{{ search_query }}">
            <button type="submit" class="button">Buscar</button>
        </form>

        <!-- Tabla de abonos -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha del Último Abono</th>
                        <th></th> <!-- Nueva columna para el menú desplegable -->
                    </tr>
                </thead>
                <tbody>
                    {% for abono in abonos %}
                    <tr>
                        <td>{{ abono.cliente_nombre }} {{ abono.cliente_apellido }}</td>
                        <td>{{ abono.ultima_fecha_abono }}</td>
                        <td>
                            <!-- Botón de menú desplegable -->
                            <div class="dropdown">
                                <button class="dropbtn" onclick="toggleMenu('menu-{{ abono.ClienteID }}')"><i class="fas fa-ellipsis-v"></i></button>
                                <div id="menu-{{ abono.ClienteID }}" class="dropdown-content">
                                    <a href="{{ url_for('abonos.historial_pagos', cliente_id=abono.ClienteID) }}" class="button ver-pagos-btn">Ver pagos</a>
                                    <a href="{{ url_for('abonos.add_abono', cliente_id=abono.ClienteID) }}" class="button ver-pagos-btn">Agregar abono</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
